h1 {
	text-align:center; 
}

.ikonaproti{
	width: 60%;
	height: 70%;


}

.ikonadeuteri{

	width: 50%;
	height:70%;
}

.ikonatriti{
	width: 60%;
	height:70%;
}

.ikonatetarti{

	width: 60%;
	height:70%;
}


.ikonapempti{
	width: 60%;
	height:70%;
}

.ikonaekti{
	width: 60%;
	height:70%;
}

.container{
	background: #FFFFCC80;
}

.logia{
	background-color: #ff9d5c;
}

h1{ 
	color:#ff9d5c;

}

.one{
	text-align: center;
}

p{
	font-size: 18px;

}

.mathfactor{

	font-size: 14px;
}

.card{
	margin-bottom: 30px;
}